*, *::before, *::after { margin: 0; padding: 0; box-sizing: inherit; }

html {scroll-behavior: smooth;}

.body { 
  background-color: black;

        
}

/* Header
***************************** */
#topheader {
  top: 0;
  width: 100%;
  height: 100px;
  position:sticky;
  top: 0;
  padding: 10px;
  background: rgb(25,4,29);
  background: linear-gradient(0deg, rgba(25,4,29,1) 3%, rgba(27,157,196,1) 84%);
  z-index: 9999;
}


h1 {
  color: gainsboro;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 8px 12px 8px  black;
  text-align: center;
  font-size: 3em;
  margin-top: 10px;
}

h1 > a {
  text-decoration:none;
  color: gainsboro;
}

#section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

/* Nav
***************************** */
nav{
  text-align: right;
  top: 0;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

nav > button {
  padding: 5px 15px;
}

div > section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Listing > Card
****************************** */
.showcard {
  flex: 1 0 250px;
  padding: 8px;
  margin: 10px;
  border: 4px solid grey;
  color: white;
  border-radius: 1%;
  transform: scale(1.0);
  transition:  transform 0.23s ease-in-out;
  background-color: black;
  }
  

  .showcard:hover {
    transform: scale(1.1);
    box-shadow: 1px 4px 70px -16px rgb(122, 215, 255);
    -webkit-box-shadow: 1px 10px 70px -16px rgb(156, 219, 246);
    -moz-box-shadow: 1px 4px 70px -16px rgb(155, 236, 249);
    background-color: rgb(22, 22, 22);
  }

.showcard img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.showcard h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

.showcard p {
  margin-left: 20%;
  margin-top: 5px;
}

details {
  margin-top: 15px;
  transition: 0.3s;
}

.modal {
  position: absolute;
  height: 40%;
  width: 50%;
}